.hero-home {
  row-gap: 1rem;
}
.hero-home .hero-right {
  margin-top: 6px;
}
.hero-home img {
  margin-top: -1px;
}

.hero-home .hero-description {
  margin-top: 1.2rem;
  margin-bottom: 0.1rem;
  font-size: 0.95rem;
  line-height: 1.65rem;
}

.hero-description-text {
  all: unset;
}

@media (max-width: 680px) {
  .hero-home .hero-description {
    margin-bottom: 0.3rem;
    line-height: 1.63rem;
  }
}

